<!-- <ion-view title="About">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/basket"><i class="icon ion-ios-cart"><span class="badge badge-dark">{{cartItems}}</span></i></a>
    </ion-nav-buttons>

    <ion-content class="has-header padding">
    	Ionic WooCommerce API 1.5.0
    </ion-content>
</ion-view> -->

<ion-view view-title="AboutUs" hide-nav-bar="true">
	<ion-header-bar class="bg-aquamarine" >
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
      </button>
      <h1 class="title text-white left-0">About Us</h1>
      <div class="header-icon-right">
        <button class="button  ion-ios-search text-white bg-none no-border fs-24 " ></button>
        <button class="button  ion-ios-cart text-white bg-none no-border   fs-24 posi-rel"  href="#/app/basket">
          <p class="notifi-count">1</p>
        </button> 
      </div>
   </ion-header-bar>
  <ion-content class="padding bg-content">
  	<div class="">
  		<div class="text-center">
                <img src="img/jet-logo.png" style="width: 40%;">                     
         </div>
  		<p class="fs-14 text-center">
  			<b>Lorem ipsum dolor sit amet</b>
  		</p> 
  		<p class="fs-14 text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inven-tore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsum voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione vo-luptatem sequi nesciunt.</p> 
		<p class="fs-14 text-center">
			<b>Lorem ipsum dolor sit amet</b>
		</p>
		<p class="fs-14 text-center">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat vo-luptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
  	</div>
   
  </ion-content>
</ion-view>

