<ion-view view-title="AboutUs" hide-nav-bar="true">
	<ion-header-bar class="bg-aquamarine" >
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
      </button>
      <h1 class="title text-white left-0">Order Confirmed</h1>
      <div class="header-icon-right">
        <button class="button  ion-ios-search text-white bg-none no-border fs-24 " ></button>
        <button class="button  ion-ios-cart text-white bg-none no-border   fs-24 posi-rel" ui-sref="app.basket">
          <p class="notifi-count">1</p>
        </button> 
      </div>
   </ion-header-bar>
  <ion-content class="padding bg-content">
  	<div class="">
  		<div class="text-center">
          <img src="img/jet-logo.png" style="width: 48%;">                     
      </div>
  		<p class="fs-16 text-center">
  			<b>Thank You<br>
        Your Order Has Been Placed<br>
        Successfully<br>
        We will Get Back To You Shortly</b>
  		</p> 
       <button class="button button-large btn-type mar-bot-10 no-border bg-aquamarine" >
            <span class="fsw8-bold fs-18">CONTINUE SHOPPING</span>
       </button>
  	</div>
   
  </ion-content>
</ion-view>

