

<ion-view hide-nav-bar="true">
	<ion-header-bar class="bg-aquamarine" >
      <button class="button button-icon button-clear ion-navicon text-white" menu-toggle="left">
      </button>
      <h1 class="title text-white left-0">Store Location</h1>
      <div class="header-icon-right">
        <button class="button  ion-ios-search text-white bg-none no-border fs-24 " ></button>
        <button class="button  ion-ios-cart text-white bg-none no-border   fs-24 posi-rel" ui-sref="app.basket" >
          <p class="notifi-count">1</p>
        </button> 
      </div>
   </ion-header-bar>
  <ion-content class="padding bg-content">
  	<div class="">
  		<div class="text-center">
                <img src="img/subway.png" class="wid-100">                     
         </div>
<br><br>
         <select class="wid-100 hi-100 input-fi bg-none" style="    padding: 12px 10px;">
                                      <option>Indore</option>
                                      <option selected>Select Your Store</option>
                                      <option>Ujjain</option>
                                      <option>Bhopal</option>
        </select>
        <br><br><br>
        <div>
           <button class="button btn-left flex-center  mar-bot-10 no-border bg-aquamarine" >
            <span class="fsw8-bold fs-14">Shop More</span>
          </button>
         <button class="button btn-right flex-center  mar-bot-10 no-border bg-aquamarine" >
            <span class="fsw8-bold fs-14">Checkout</span>
          </button>
        </div>
  	</div>
   
  </ion-content>
</ion-view>

